In [5]:
# 리스트 변수 만들 때 변수명은 절대 list 사용x
# 리스트 생성
list1 = []
list2 = [1,2,3,'python']
list3 = [1,2,[3,4,5]]

# 리스트의 요소에 접근 방법
list3 = [1,2,[3,4,5],[6,7]]
print(list3[2][2])

5

In [12]:
# 리스트에 데이터 추가 

# 빈 리스트를 생성 
list1 = []

# 데이터 추가
# append() list의 마지막에 데이터 추가
list1.append(1)
list1.append(2)
list1.append('ㅎㅇ')
list1.append([1,2,3])
print(list1)

[1, 2, 'ㅎㅇ', [1, 2, 3]]

In [242]:
# 데이터 추가 두번째
# insert(추가할 위치, 추가할 데이터)
list1.insert(0, 3)
print(list1)

[3, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 'ㅎㅇ', [1, 2, 3]]

In [498]:
# 리스트 데이터 삭제

# () 안의 데이터를 삭제 중복값이 있으면 제일 먼저 만나는 값 삭제
list1.remove(5)
print(list1)

[[1, 2, 3], [4, 5, 6]]

In [499]:
# 리스트 데이터 삭제2 (추천!!!)
list4 = [1,2,'python',[1,2,3]]
del list4[0]

print(list4)

[2, 'python', [1, 2, 3]]

In [ ]:
# 삭제 시 주의
# 아래 코드는 list4라는 리스트 자체를 삭제
# del list4

In [504]:
stuNum = 10 
stunum = 10
del stunum

In [505]:
# 리스트 데이터 수정
list5 = [1,2,3]
list5[1] = 5
print(list5)

[1, 5, 3]

In [506]:
arr1 = [1,2,3]
arr2 = [4,5]
arr3 = arr1+arr2
print(arr3)

[1, 2, 3, 4, 5]

In [508]:
# 리스트 합치기 
list6 = [1,2,3] + [4,5]
print(list6)
list7 = [1,2,3] * 8
print(list7)

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [515]:
# 리스트의 슬라이싱 : 리스트 데이터의 일부 추출
list1 = [1,2,3,4,5]
print(list1[1:4])
print(list1[1:])
print(list1[:3])
print(list1[:])

[2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3, 4, 5]

In [517]:
# 슬라이싱을 이요한 데이터 삭제
list1 = [1,2,3,4,5]
del list1[1:4]

In [520]:
# 슬라이싱을 이용한 데이터 수정
list1 = [1,2,3,4,5]
list1[1:3] = [7,8]

In [522]:
# 리스트의 마지막 데이터를 알고 싶을 때 [-1] 사용
list1 = [1,2,3,4,5]
print(list1[-1])
print(list1[1:-1])

5
[2, 3, 4]

In [538]:
#1. 키보드로 세 수를 입력받고, 입력받은 세 수를 리스트에 저장하시오. 그 후 스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.
list1 = []

for i in range(3) :
  num = int(input(f'{i+1}번째 정수 입력 : '))
  list1.append(num)


num4 = max(list1)
num5 = min(list1)
print(num4 - num5)

20

In [542]:
#2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.
list4 = [1,2,3,4,5]
list5 = [2,3,4,5]
list6 = list4 + list5 

def sum(list4, list5) :
  list_combined = list4 + list5 
  total = 0

  for i in list_combined:
    total += i

  return total

result = sum(list4, list5)
print(result)

29

In [550]:
# 문자열도 리스트다!
name = 'python'
print(name[3:])

hon

In [560]:
# 아래 리스트에 저장된 문자열에서 'r' 이라는 알파벳의 갯수를 출력
strList = ['father', 'mother', 'brother']
cnt = 0

for i in strList :
  cnt += i.count('r')

print(cnt)

4

In [1]:
strList = ['father', 'mother', 'brother']
cnt = 0

for i in strList :
  for j in i :
    if j == 'r' :
      cnt += 1

print(cnt)

4